 .sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.05);
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
} 



/* Tablet */
@media (max-width: 1024px) {
  .sidebar {
    width: 260px;
  }

  button span {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 768px) {

  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100dvh;
    width: 260px;
    z-index: 2000;
    transition: left 0.3s ease;
  }

  /* When sidebar is open */
  .sidebar.open {
    left: 0;
  }

  /* Hide text, show icons only (optional) */
  button span {
    font-size: 16px;
  }

  .history li {
    font-size: 13px;
  }

  .sign {
    font-size: 13px;
  }
}

/* Extra Small Devices */
@media (max-width: 480px) {
  .sidebar {
    width: 230px;
  }
}
@media (max-width: 768px) {
  .closeBtn {
    display: block !important;
    align-self: flex-end;
    margin: 10px;
    background: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
  }
}
